priority -50

snippet xml "XML declaration" b
<?xml version="1.0"?>

endsnippet

snippet tag "Simple tag" b
<${1:tag}>
	${2:${VISUAL}}
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet tagi "Inline tag" b
<${1:tag}>${2:${VISUAL}}</${1/([\w:._-]+).*/$1/}>
endsnippet
